@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import "tailwindcss";

/* Custom colors, styles, typography, breakpoints is declared using @theme stytax in tailwindcss and are called design tokens */

@theme {
  /* declaring the variable that can be used with tailwindcss utilities or with inline styles using var */
  --color-mint-500: oklch(0.72 0.11 178);

  /* for defining the font family variables use --font-* */
  --font-sofia-pro: "Sofia", cursive;
  --personal-font:  "Bitcount Prop Single", system-ui;

  --text-twelve: 12px;
  /* these value of line-height, font-weight and letter-spacing gets automatically applied when the font-size of twelve is applied to the any element */
  --text-twelve--line-height: 10px;
  --text-twelve--letter-spacing: 10px;
  --text-twelve--font-weight: 700;

  --my-font-size: 100px;

  --font-weight-extrablack: 1000;
  --font-400: 900;

  --tracking-custom-letter-spacing: 10px;
  --custom-letter-spacing: 20px;

  --custom-line-clamping: 2;

}


body {

}
/* 

  namespaces for defining different variables in tailwindcss
  1. --color-* -> use to define the color variables
  2. --font-* -> use to define the font-family variables
  3. --breakpoint-* -> use to define the breakpoints
  4. --text-* -> to set the font-size of an element

*/

/* 
  if we want to use the variables as per the tailwind classes like color go with --color-*, or just want to create normal variables go with --*
*/